@model booking_facilities.Models.Booking

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Facility.VenueId" class="control-label"></label>
                <select asp-for="Facility.VenueId" class="form-control" asp-items="ViewBag.VenueId" onchange="updateSports()" id="venueDDL"></select>
            </div>
            <div class="form-group">
                <label asp-for="Facility.SportId" class="control-label"></label>
                <select asp-for="Facility.SportId" class="form-control" asp-items="ViewBag.SportId" id="sportDDL"></select>
            </div>
            <div class="form-group">
                <label asp-for="BookingDate" class="control-label"></label>
                <input asp-for="BookingDate" class="form-control" type="date"/>
                <span asp-validation-for="BookingDate" class="text-danger"></span>
            </div>

                <div class="form-group">
                    <input type="submit" value="Next" class="btn btn-default" />
                </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function updateSports() {
            
            urlVenues = "/Sports/getSportsByVenue/" + $("#venueDDL").val();
            $.ajax({
                url: urlVenues,
                success: function (json) {

                    var items = "";
                    $.each(json, function (i, sport) {
                        items += "<option value='" + sport.sportId + "'>" + sport.sportName+ "</option>";
                    })
                    $("#sportDDL").empty().html(items);
      
                }
            });
        }
        updateSports();
    </script>
    }
