@model booking_facilities.Models.Booking

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Facility.VenueId" class="control-label"></label>
                <select asp-for="Facility.VenueId" class="form-control" asp-items="ViewBag.VenueId" onchange="updateSports()" id="venueDDL"></select>
            </div>
            <div class="form-group">
                <label asp-for="Facility.SportId" class="control-label"></label>
                <select asp-for="Facility.SportId" class="form-control" asp-items="ViewBag.SportId" id="sportDDL"></select>
            </div>
            <div class="form-group">
                <label for="BookingDateId" class="control-label">Booking Date</label>
                <input class="form-control" type="date" id="BookingDateId" />
            </div>
            <div class="input-group">
                <input type="button" onclick="getTimes()" value="Get times" class="form-control" />
            </div>
            <div class="form-group" id="BookingTimeForm">
                <label for="BookingTimeId" class="control-label">Booking Time</label>
                <select class="form-control" id="BookingTimeId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" disabled id="submitButton" />
            </div>
        </form>
    </div>
</div>

<div id="demo">
    hehera
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function updateSports() {
            
            urlVenues = "/Sports/getSportsByVenue/" + $("#venueDDL").val();
            $.ajax({
                url: urlVenues,
                success: function (json) {

                    var items = "";
                    $.each(json, function (i, sport) {
                        items += "<option value='" + sport.sportId + "'>" + sport.sportName+ "</option>";
                    })
                    $("#sportDDL").empty().html(items);
      
                }
            });
        }

        function getTimes() {
            //TO-DO check if data is in venue and sports box
            //TO-DO check if date has been entered
            var urlBooking = "/booking/" + document.getElementById("BookingDateId").value + "/" + $("#venueDDL").val() + "/" + $("#sportDDL").val();
            document.getElementById("demo").innerHTML = urlBooking;

            //call api
            $.ajax({
                url: urlBooking,
                success: function (json) {
                    //DO SUCCESS
                    //fill dropdown
                }
            });


        }

        updateSports();
        $("#BookingTimeForm").hide();
        $("#submitButton").hide();
    </script>
    }
